
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Welcome to Faraday Technologies</title>
<link rel="icon" href="faraday/logoo.jpg" type="image/x-icon"> 
<link rel="stylesheet" href="src/output.css">
<link rel="stylesheet" href="style.css">
<link rel="stylesheet" href="/slider.css">
<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<!-- SEO Meta Tags -->
<meta name="description" content="At Faraday Technologies ,Electrical Systems, Security Systems and Solar Systems company are well fixed.">
<meta name="keywords" content="Faraday Technologies, wallpapers & Interiors, CCTV, reliable electrical company, electrical solutions">
<meta name="author" content="Faraday Technologies">

<!-- Open Graph Meta Tags -->
<meta property="og:site_name" content="Faraday Technologies"/>
<meta property="og:url" content="https://www.faradaytechnologies.co.ke"/>
<meta property="og:title" content="Welcome to Faraday Technologies"/>
<meta property= "og:site_name" content="Electrical | Security | Wallpapers and Interiors"/>
<meta property="og:type" content="website">
<meta property="og:description" content="At Faraday Technologies ,Electrical Systems, Security Systems and Solar Systems company are well fixed."/>
<meta property="og:image" content="https://www.faradaytechnologies.co.ke/faraday/logoo.jpg">
<meta property="og:image:secure_url" content="https://www.faradaytechnologies.co.ke/faraday/logoo.jpg"/>

<!-- Twitter Meta Tags -->
<meta name="twitter:card" content="summary_large_image"/>
<meta name="twitter:site" content="@faradaytech"/>
<meta name="twitter:title" content="Welcome to Faraday Technologies"/>
<meta name="twitter:description" content="Faraday Technologies offers top-notch electrical solutions across the country. Contact us for reliable and efficient electrical services."/>
<meta name="twitter:image" content="https://www.faradaytechnologies.co.ke/faraday/logoo.jpg"/>
<body>
<div class="nav">
  <div class="log">
    <img src="faraday/logoo.jpg" >
  </div>
  <ul class="scroll">
    <li><a href="#aboutus"><strong>Home</strong></a></li>
  </ul>
  
  <ul class="scroll">
    <li><a href="#services"><strong>Sectors</strong></a></li>
  </ul>
  
  <ul class="scroll">
    <li><a href="#products"><strong>Products</strong></a></li>
  </ul>
  
  <ul class="scroll">
    <li><a href="#contact"><strong>Contact</strong></a></li>
  </ul>
  
</div>
<section>
    <!-- start slider section -->
    <section class="no-padding main-slider height-90 mobile-height wow fadeIn ">
      <div class="swiper-full-screen swiper-container height-100 width-100 black-move">
          <div class="swiper-wrapper">
            <div class="swiper-slide cover-background" style="background-image:url('faraday/cctvb.jpg');">
              <div class="bg-black opacity-extra-medium"></div>
              <div class="container position-relative full-screen">
                  <div class="col-md-12 slider-typography text-left xs-text-center">
                      <div class="slider-text-middle-main">
                          <div class="slider-text-middle">
                              <p class="alt-font font-weight-400 text-white text-title text-uppercase letter-spacing-2 margin-one-bottom xs-margin-five-bottom">CCTV's and Security Systems</p>
                              <h1 class="alt-font font-weight-600 text-white width-75 xs-width-100"> </h1>
                              <div class="btn-dual"><a href="#contact" target="_blank" class="btn btn-medium btn-rounded btn-white no-margin-lr">CONTACT US</a><a href="#contact" target="_blank" class="btn btn-medium btn-rounded btn-transparent-white"></a></div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
              <div class="swiper-slide cover-background" style="background-image:url('faraday/contactpep.jpg');">
                  <div class="bg-black opacity-medium"></div>
                  <div class="container position-relative full-screen">
                      <div class="col-md-12 slider-typography text-left xs-text-center">
                          <div class="slider-text-middle-main">
                              <div class="slider-text-middle">
                                  <p class="alt-font font-weight-400 text-white text-title text-uppercase letter-spacing-2 margin-one-bottom xs-margin-five-bottom">Interior Decor</p>
                                  <h1 class="alt-font font-weight-600 text-white width-75 xs-width-100"> </h1>
                                  <div class="btn-dual"><a href="#contact" target="_blank" class="btn btn-medium btn-rounded btn-white no-margin-lr">CONTACT US</a><a href="contact.html" target="_blank" class="btn btn-medium btn-rounded btn-transparent-white"></a></div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="swiper-slide cover-background" style="background-image:url('faraday/wall\ and\ grass.jpg');">
                  <div class="bg-black opacity-extra-medium"></div>
                  <div class="container position-relative full-screen">
                      <div class="col-md-12 slider-typography text-left xs-text-center">
                          <div class="slider-text-middle-main">
                              <div class="slider-text-middle">
                                  <p class="alt-font font-weight-400 text-white text-title text-uppercase letter-spacing-2 margin-one-bottom xs-margin-five-bottom">Interior Decor</p>
                                  <h1 class="alt-font font-weight-600 text-white width-75 xs-width-100"> </h1>
                                  <div class="btn-dual"><a href="#contact" target="_blank" class="btn btn-medium btn-rounded btn-white no-margin-lr">CONTACT US</a><a href="contact.html" target="_blank" class="btn btn-medium btn-rounded btn-transparent-white"></a></div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="swiper-slide cover-background" style="background-image:url('faraday/phone care.jpg');">
                <div class="bg-black opacity-medium"></div>
                <div class="container position-relative full-screen">
                    <div class="col-md-12 slider-typography text-left xs-text-center">
                        <div class="slider-text-middle-main">
                            <div class="slider-text-middle">
                                <p class="alt-font font-weight-400 text-white text-title text-uppercase letter-spacing-2 margin-one-bottom xs-margin-five-bottom">2D, 3D Branding</p>
                                <h1 class="alt-font font-weight-600 text-white width-75 xs-width-100"></h1>
                                <div class="btn-dual"><a href="#contact" target="_blank" class="btn btn-medium btn-rounded btn-white no-margin-lr">CONTACT US</a><a href="contact.html" target="_blank" class="btn btn-medium btn-rounded btn-transparent-white"></a></div>
                            </div>
                        </div>
                    </div>
                </div> 
            </div>
              <div class="swiper-slide cover-background"style="background-image:url('faraday/profile3.jpg');">
                  <div class="bg-black opacity-medium"></div>
                  <div class="container position-relative full-screen">
                      <div class="col-md-12 slider-typography text-left xs-text-center">
                          <div class="slider-text-middle-main">
                              <div class="slider-text-middle">
                                  <p class="alt-font font-weight-400 text-white text-title text-uppercase letter-spacing-2 margin-one-bottom xs-margin-five-bottom"></p>
                                  <h1 class="alt-font font-weight-600 text-white width-75 xs-width-100"> </h1>
                                  <div class="btn-dual"><a href="contact.html" target="_blank" class="btn btn-medium btn-rounded btn-white no-margin-lr">CONTACT US</a><a href="contact.html" target="_blank" class="btn btn-medium btn-rounded btn-transparent-white"></a></div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="swiper-pagination swiper-full-screen-pagination"></div>
          <div class="swiper-button-next swiper-button-black-highlight display-none"></div>
          <div class="swiper-button-prev swiper-button-black-highlight display-none"></div>
          <div class="swiper-button-prev swiper-button-black-highlight display-none"></div>
      </div>
  </section>
  <!-- end slider section --> 
  <h1 style="text-align: center; font-size: 24px; font-weight: bold; text-transform: uppercase; text-decoration: underline;">ABOUt US</h1>
<section id = "aboutus">
<div class="hero">
  <img src="faraday/logoo.jpg" alt="Faraday Technologies Logo">
  <div class="hero-content">
    <style>
      .info-container {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
      }
      .info-icon {
        margin-right: 10px;
        font-size: 20px;
        color: #4285f4;
      }
    </style>
    <h2>Faraday Technologies: We Power the World</h2>
      <p>We are an engineering company located at Ruiru, Mathigu Road, Doctor's Plaza, Groundfloor Rm9 </p>
      <div class="info-container">
        <i class="info-icon fas fa-map-marker-alt"></i>Ruiru, Mathigu Road, Doctor's Plaza, Groundfloor Rm9
      </div>
      <p>
        <i class="fa-solid fa-plug-circle-check" style="margin-right: 8px;"></i> Licensed, insured, bonded, and certified for modern solutions.<br>
        <i class="fa-solid fa-screwdriver-wrench" style="margin-right: 8px;"></i> High level of professionalism from our experts.<br>
        <i class="fa-regular fa-handshake" style="margin-right: 8px;"></i> High level customer service.<br>
        <i class="fa-solid fa-microchip" style="margin-right: 8px;"></i>Upgraded technology for modern solutions.<br>
    </p>
    <a href="#aboutus" class="act-but">Exlore More</a>
  </div>
</div>
</section>
 <h1 style="text-align: center; font-size: 24px; font-weight: bold; text-transform: uppercase; text-decoration: underline; color: green;">Services</h1>

<section id="services">
  <div class="bg-gray-100">
    <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
      <div class="mx-auto max-w-2xl py-16 sm:py-24 lg:max-w-none lg:py-32">
        <h2 class="text-2xl font-bold text-gray-900">Home of Modern Solutions</h2>
  
        <div class="mt-6 space-y-12 lg:grid lg:grid-cols-3 lg:gap-x-6 lg:space-y-0">
          <div class="group relative">
            <div class="relative h-80 w-full overflow-hidden rounded-lg bg-white sm:aspect-h-1 sm:aspect-w-2 lg:aspect-h-1 lg:aspect-w-1 group-hover:opacity-75 sm:h-64">
              <img src="faraday/wallsold.jpg" alt="wallpaper" class="h-full w-full object-cover object-center">
            </div>
            <h3 class="mt-6 text-sm text-gray-500">
              <a href="recent.html">
                <span class="absolute inset-0"></span>
                <strong>Wallpapers and Interiors</strong>
              </a>
            </h3>
            <style>
              .view-more {
                  color: #1E90FF; /* DodgerBlue */
                  text-decoration: none; /* Removes the underline */
              }
      
              .view-more:hover {
                  text-decoration: underline; /* Adds underline on hover */
              }
          </style>
            <p class="text-base font-semibold text-gray-900">
              Types: Vinyl, Murals, Vintage, Wood-look, Brick-look, patterned, peel&stick.
              <a href="https://wallpaperkenya.co.ke/product-category/contact-paper/" class="view-more">View more</a>
            </p>
            
          </div>
          <div class="group relative">
            <div class="relative h-80 w-full overflow-hidden rounded-lg bg-white sm:aspect-h-1 sm:aspect-w-2 lg:aspect-h-1 lg:aspect-w-1 group-hover:opacity-75 sm:h-64">
              <img src="faraday/CCTV-Camera-Install.jpg" alt="cctv" class="h-full w-full object-cover object-center">
            </div>
            <h3 class="mt-6 text-sm text-gray-500">
              <a href="recent.html">
                <span class="absolute inset-0"></span>
               <strong>CCTV</strong> 
              </a>
            </h3>
            <p class="text-base font-semibold text-gray-900">Dome CCTV, Bullet, HD Surveillance, PTZ CCTV, Wireless Cameras etc</p>
          </div>
          <div class="group relative">
            <div class="relative h-80 w-full overflow-hidden rounded-lg bg-white sm:aspect-h-1 sm:aspect-w-2 lg:aspect-h-1 lg:aspect-w-1 group-hover:opacity-75 sm:h-64">
              <img src="faraday/bannerfix.jpg" alt="display systems" class="h-full w-full object-cover object-center">
            </div>
            <h3 class="mt-6 text-sm text-gray-500">
              <a href="recent.html">
                <span class="absolute inset-0"></span>
                <strong>Display Systems</strong>
              </a>
            </h3>
            <p class="text-base font-semibold text-gray-900">Light box, Arduino boards, 2D&3D printing, Banners, Signages, Posters etc</p>
          </div>
          <div class="group relative">
            <div class="relative h-80 w-full overflow-hidden rounded-lg bg-white sm:aspect-h-1 sm:aspect-w-2 lg:aspect-h-1 lg:aspect-w-1 group-hover:opacity-75 sm:h-64">
              <img src="faraday/solarset.jpg" alt="Renewable" class="h-full w-full object-cover object-center">
            </div>
            <h3 class="mt-6 text-sm text-gray-500">
              <a href="recent.html">
                <span class="absolute inset-0"></span>
                <strong>Renewable Energy</strong>
              </a>
            </h3>
            <p class="text-base font-semibold text-gray-900">Solar system installations aand Water systems Electric connections.
            </p>
          </div>
          <div class="group relative">
            <div class="relative h-80 w-full overflow-hidden rounded-lg bg-white sm:aspect-h-1 sm:aspect-w-2 lg:aspect-h-1 lg:aspect-w-1 group-hover:opacity-75 sm:h-64">
              <img src="faraday/siren.jpg" alt="fences" class="h-full w-full object-cover object-center">
            </div>
            <h3 class="mt-6 text-sm text-gray-500">
              <a href="recent.html">
                <span class="absolute inset-0"></span>
                <strong>Home security systems</strong>
              </a>
            </h3>
            <p class="text-base font-semibold text-gray-900">High quality Electric fences, Automatic gates, Fire alarms, Fire extinguishers, Razor wires </p>
          </div>
          <div class="group relative">
            <div class="relative h-80 w-full overflow-hidden rounded-lg bg-white sm:aspect-h-1 sm:aspect-w-2 lg:aspect-h-1 lg:aspect-w-1 group-hover:opacity-75 sm:h-64">
              <img src="faraday/wall and grass.jpg" alt="Interior decor" class="h-full w-full object-cover object-center">
            </div>
            <h3 class="mt-6 text-sm text-gray-500">
              <a href="recent.html">
                <span class="absolute inset-0"></span>
                <strong>Interior decor</strong>
              </a>
            </h3>
            <p class="text-base font-semibold text-gray-900">Grass carpets, Floor mats, Gypsum, Shelf stacking, stickers, fireplaces, Tv mounting services.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<h1 style="text-align: center; font-size: 24px; font-weight: bold; text-transform: uppercase; text-decoration: underline; color: red">Products</h1>
<h5 style="text-align: center; font-size: 20px; color: black">Looking to shop quality products? <br>Beautiful Homes are made not Bought. ~Eng. Faraday.</h5>

<section id="products">
<div class="bg-white">
  <div class="mx-auto max-w-2xl px-4 py-16 sm:px-6 sm:py-24 lg:max-w-7xl lg:px-8">
    <h2 class="sr-only">Products</h2>

    <div class="grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 xl:gap-x-8">
      <a href="recent.html" class="group">
        <div class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-lg bg-gray-200 xl:aspect-h-8 xl:aspect-w-7">
          <img src="faraday/wallPapers.jpg" alt="wallpaper" class="h-full w-full object-cover object-center group-hover:opacity-75">
        </div>
        <h3 class="mt-4 text-sm text-gray-700">Wallpapers</h3>
        <p class="mt-1 text-lg font-medium text-gray-900">KSh. 2000/ roll</p>
      </a>
      <a href="recent.html" class="group">
        <div class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-lg bg-gray-200 xl:aspect-h-8 xl:aspect-w-7">
          <img src="faraday/CCTV-Camera-Install.jpg" alt="cctv" class="h-full w-full object-cover object-center group-hover:opacity-75">
        </div>
        <h3 class="mt-4 text-sm text-gray-700">HIKVISION CCTV's</h3>
        <p class="mt-1 text-lg font-medium text-gray-900">Price/Type</p>
      </a>
      <a href="recent.html" class="group">
        <div class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-lg bg-gray-200 xl:aspect-h-8 xl:aspect-w-7">
          <img src="faraday/homedecor.jpg" alt="homedecor" class="h-full w-full object-cover object-center group-hover:opacity-75">
        </div>
        <h3 class="mt-4 text-sm text-gray-700">Fire places</h3>
        <p class="mt-1 text-lg font-medium text-gray-900">Price/ length</p>
      </a>
      <a href="recent.html" class="group">
        <div class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-lg bg-gray-200 xl:aspect-h-8 xl:aspect-w-7">
          <img src="faraday/signages.jpg" alt="Signages" class="h-full w-full object-cover object-center group-hover:opacity-75">
        </div>
        <h3 class="mt-4 text-sm text-gray-700">Signages</h3>
        <p class="mt-1 text-lg font-medium text-gray-900">From KSh. 3000</p>
      </a>
      <a href="recent.html" class="group">
        <div class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-lg bg-gray-200 xl:aspect-h-8 xl:aspect-w-7">
          <img src="faraday/electronic.webp" alt="electronics" class="h-full w-full object-cover object-center group-hover:opacity-75">
        </div>
        <h3 class="mt-4 text-sm text-gray-700">Electronics</h3>
        <p class="mt-1 text-lg font-medium text-gray-900">Price/Item</p>
      </a>
      <a href="recent.html" class="group">
        <div class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-lg bg-gray-200 xl:aspect-h-8 xl:aspect-w-7">
          <img src="faraday/cooker.jpg" alt="cooker" class="h-full w-full object-cover object-center group-hover:opacity-75">
        </div>
        <h3 class="mt-4 text-sm text-gray-700">Electric cookers</h3>
        <p class="mt-1 text-lg font-medium text-gray-900">From KSh. 22,000</p>
      </a>
      <a href="recent.html" class="group">
        <div class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-lg bg-gray-200 xl:aspect-h-8 xl:aspect-w-7">
          <img src="faraday/phona.jpg" alt="phones accessories" class="h-full w-full object-cover object-center group-hover:opacity-75">
        </div>
        <h3 class="mt-4 text-sm text-gray-700">Phone accessories</h3>
        <p class="mt-1 text-lg font-medium text-gray-900">Price/Item</p>
      </a>
      <a href="recent.html" class="group">
        <div class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-lg bg-gray-200 xl:aspect-h-8 xl:aspect-w-7">
          <img src="faraday/dispensers.jpg" alt="Dispensers" class="h-full w-full object-cover object-center group-hover:opacity-75">
        </div>
        <h3 class="mt-4 text-sm text-gray-700">Water Dispensers</h3>
        <p class="mt-1 text-lg font-medium text-gray-900">From KSh. 5,000</p>
      </a>
      <a href="recent.html" class="group">
        <div class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-lg bg-gray-200 xl:aspect-h-8 xl:aspect-w-7">
          <img src="faraday/water pump.jpg" alt="water pump" class="h-full w-full object-cover object-center group-hover:opacity-75">
        </div>
        <h3 class="mt-4 text-sm text-gray-700">Water pumps</h3>
        <p class="mt-1 text-lg font-medium text-gray-900">KSh. 700</p>
      </a> 
      <a href="recent.html" class="group">
        <div class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-lg bg-gray-200 xl:aspect-h-8 xl:aspect-w-7">
          <img src="faraday/blender.jpg" alt="water pump" class="h-full w-full object-cover object-center group-hover:opacity-75">
        </div>
        <h3 class="mt-4 text-sm text-gray-700">Blenders</h3>
        <p class="mt-1 text-lg font-medium text-gray-900">KSh. 700</p>
        <a href="recent.html" class="group">
          <div class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-lg bg-gray-200 xl:aspect-h-8 xl:aspect-w-7">
            <img src="faraday/wire2.5.jpg" alt="water pump" class="h-full w-full object-cover object-center group-hover:opacity-75">
          </div>
          <h3 class="mt-4 text-sm text-gray-700">Wires</h3>
          <p class="mt-1 text-lg font-medium text-gray-900">Price/roll</p>
        </a>
      </a>
      

      <!-- More products... -->
    </div>
  </div>
</div>
</section>

<h1 style="text-align: center; font-size: 24px; font-weight: bold; text-transform: uppercase; text-decoration: underline; color: brown">Team</h1>

<section id="contact">
<div class="bg-white py-24 sm:py-32">
  <div class="mx-auto grid max-w-7xl gap-x-8 gap-y-20 px-6 lg:px-8 xl:grid-cols-3">
    <div class="max-w-2xl">
      <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Meet our Team</h2>
      <p class="mt-6 text-lg leading-8 text-gray-600">Meet the experts, led by Eng. Amos. Trained and certified professionals by HikVision. We deliver security and electrical solutions to the standards.</p>
    </div>
    <ul role="list" class="grid gap-x-8 gap-y-12 sm:grid-cols-2 sm:gap-y-16 xl:col-span-2">
      <li>
        <div class="flex items-center gap-x-6">
          <img class="h-16 w-16 rounded-full" src="faraday/Ngera.jpg" alt="">
          <div>
            <h3 class="text-base font-semibold leading-7 tracking-tight text-gray-900">Amos Faraday</h3>
            <p class="text-sm font-semibold leading-6 text-indigo-600">Founder / CEO</p>
          </div>
        </div>
      </li>
      <li>
        <div class="flex items-center gap-x-6">
          <img class="h-16 w-16 rounded-full" src="faraday/inst4.jpg" alt="">
          <div>
            <h3 class="text-base font-semibold leading-7 tracking-tight text-gray-900">Stylah G</h3>
            <p class="text-sm font-semibold leading-6 text-indigo-600">Team member</p>
          </div>
        </div>
      </li>
      <li>
        <div class="flex items-center gap-x-6">
          <img class="h-16 w-16 rounded-full" src="faraday/brayo.jpg" alt="">
          <div>
            <h3 class="text-base font-semibold leading-7 tracking-tight text-gray-900">Brian</h3>
            <p class="text-sm font-semibold leading-6 text-indigo-600">Team member</p>
          </div>
        </div>
      </li>
      <li>
        <div class="flex items-center gap-x-6">
          <img class="h-16 w-16 rounded-full" src="faraday/maggie.jpg" alt="">
          <div>
            <h3 class="text-base font-semibold leading-7 tracking-tight text-gray-900">Maggie</h3>
            <p class="text-sm font-semibold leading-6 text-indigo-600">Team member</p>
          </div>
        </div>
      </li>


      <!-- More people... -->
    </ul>
  </div>
</div>
</section>

<h1 style="text-align: center; font-size: 24px; font-weight: bold; text-transform: uppercase; text-decoration: underline;">Metrics</h1>

<section id="stats">
<div class="bg-white py-24 sm:py-32">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <dl class="grid grid-cols-1 gap-x-8 gap-y-16 text-center lg:grid-cols-3">
      <div class="mx-auto flex max-w-xs flex-col gap-y-4">
        <dt class="text-base leading-7 text-gray-600">New clients in 2024</dt>
        <dd class="order-first text-3xl font-semibold tracking-tight text-gray-900 sm:text-5xl">500+</dd>
      </div>
      <div class="mx-auto flex max-w-xs flex-col gap-y-4">
        <dt class="text-base leading-7 text-gray-600">Customer satisfied & counting</dt>
        <dd class="order-first text-3xl font-semibold tracking-tight text-gray-900 sm:text-5xl">2500+</dd>
      </div>
      <div class="mx-auto flex max-w-xs flex-col gap-y-4">
        <dt class="text-base leading-7 text-gray-600">Hours of experience</dt>
        <dd class="order-first text-3xl font-semibold tracking-tight text-gray-900 sm:text-5xl">Over 50,000+</dd>
      </div>
    </dl>
  </div>
</div>

</section>
<section id="recent">
  <div class="bg-white">
    <div class="mx-auto max-w-2xl px-4 py-16 sm:px-6 sm:py-24 lg:max-w-7xl lg:px-8">
      <h2 class="sr-only">Products</h2>
  
      <div class="grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 xl:gap-x-8">
        <a href="#" class="group">
          <div class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-lg bg-gray-200 xl:aspect-h-8 xl:aspect-w-7">
            <img src="faraday/thika.jpg" alt="Tall slender porcelain bottle with natural clay textured body and cork stopper." class="h-full w-full object-cover object-center group-hover:opacity-75">
          </div>
          <h3 class="mt-4 text-sm text-gray-700">Thika, Kiambu</h3>
        </a>
        <a href="#" class="group">
            <div class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-lg bg-gray-200 xl:aspect-h-8 xl:aspect-w-7">
              <img src="faraday/neki.jpg" alt="Tall slender porcelain bottle with natural clay textured body and cork stopper." class="h-full w-full object-cover object-center group-hover:opacity-75">
            </div>
            <h3 class="mt-4 text-sm text-gray-700">Kenol, Murang'a</h3>
          </a>
          <a href="#" class="group">
            <div class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-lg bg-gray-200 xl:aspect-h-8 xl:aspect-w-7">
              <img src="faraday/otc.jpg" alt="Tall slender porcelain bottle with natural clay textured body and cork stopper." class="h-full w-full object-cover object-center group-hover:opacity-75">
            </div>
            <h3 class="mt-4 text-sm text-gray-700">Nairobi, OTC</h3>
          </a>
          <a href="#" class="group">
            <div class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-lg bg-gray-200 xl:aspect-h-8 xl:aspect-w-7">
              <img src="faraday/phone care.jpg" alt="Tall slender porcelain bottle with natural clay textured body and cork stopper." class="h-full w-full object-cover object-center group-hover:opacity-75">
            </div>
            <h3 class="mt-4 text-sm text-gray-700">Ruiru</h3>
          </a>
        </a>
        <a href="#" class="group">
          <div class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-lg bg-gray-200 xl:aspect-h-8 xl:aspect-w-7">
            <img src="faraday/engsiaya.jpg" alt="Tall slender porcelain bottle with natural clay textured body and cork stopper." class="h-full w-full object-cover object-center group-hover:opacity-75">
          </div>
          <h3 class="mt-4 text-sm text-gray-700">Siaya</h3>
        </a>
          <a href="recent.html">
          <button style="
          background-color: #4CAF50; 
          border: none; 
          color: white; 
          padding: 15px 32px; 
          text-align: center; 
          text-decoration: none; 
          display: inline-block; 
          font-size: 16px; 
          margin: 4px 2px; 
          cursor: pointer; 
          border-radius: 12px; 
          transition-duration: 0.4s;"
          onmouseover="this.style.backgroundColor='white'; this.style.color='black'; this.style.border='2px solid #4CAF50';"
          onmouseout="this.style.backgroundColor='#4CAF50'; this.style.color='white'; this.style.border='none';"
        >
          Click to view more works
        </button>
      </a>
        
      </div>
    </div>
  </div>
      </section>

<h1 style="text-align: center; font-size: 24px; font-weight: bold; text-transform: uppercase; text-decoration: underline;">Join our community</h1>

<section id="subscribe">
  <div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
    <div class="sm:mx-auto sm:w-full sm:max-w-sm">
      <img class="mx-auto h-10 w-auto" src="faraday/logoo.jpg" alt="Your Company">
      <h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">Join the team</h2>
    </div>
    <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
      <form class="space-y-6" id="contactForm" action="" method="post">
        <div>
          <label for="email" class="block text-sm font-medium leading-6 text-gray-900">Email address</label>
          <div class="mt-2">
            <input id="email" name="email" type="email" autocomplete="email" required class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
          </div>
        </div>
        <div>
          <button type="submit" class="flex w-full justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Subscribe for latest offers, products & updates</button>
        </div>
      </form>
    </div>
  </div>
</section>
<section id="footer">
  <!-- FOOTER -->
  <footer class="footer">
    <div class="wrap">
      <div class="footer-container">
        <a href="#" class="logo">Faraday Technologies</a>
      </div>
      <div class="footer-container">
        <h3>Faraday technologies</h3>
        <ul>
          <li><a href="#home">Home</a></li>
          <li><a href="#services">services</a></li>
          <li><a href="#products">Products</a></li>
          <li><a href="#footer">Contact</a></li>
        </ul>
      </div>
      <div class="footer-container">
        <h3>For more details:</h3>
        <ul>
          <li><a class="email" href="">Amosfaraday2000@gmail.com</a></li>
          <li><a class="number" href="tel: +25468765330">0768-765-330</a></li>
        </ul>
      </div>
    </div>
  </footer>
</section>

  <script src="https://static.elfsight.com/platform/platform.js" data-use-service-core defer></script>
<div class="elfsight-app-65f153d9-e22c-4e46-95ec-7ed89df5f9f0" data-elfsight-app-lazy></div>
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script>
  var swiper = new Swiper('.swiper-container', {
    spaceBetween: 30,
    effect: 'fade',
    loop: true,
    autoplay: {
      delay: 5000,
      disableOnInteraction: false,
    },
    pagination: {
      el: '.swiper-pagination',
      clickable: true,
    },
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },
  });
</script>

</body>
</html>
