<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Services</title>
    <link rel="stylesheet" href="src/output.css">
    <link rel="icon" href="faraday/logoo.jpg" type="image/x-icon">
    <!-- SEO Meta Tags -->
  <meta name="description" content="At Faraday Technologies ,Electrical Systems, Security Systems and Solar Systems company are well fixed.">
  <meta name="keywords" content="Faraday Technologies, wallpapers & Interiors, CCTV, reliable electrical company, electrical solutions">
  <meta name="author" content="Faraday Technologies">

  <!-- Open Graph Meta Tags -->
  <meta property="og:site_name" content="Faraday Technologies"/>
  <meta property="og:url" content="https://www.faradaytechnologies.co.ke"/>
  <meta property="og:title" content="Welcome to Faraday Technologies"/>
  <meta property= "og:site_name" content="Electrical | Security | Wallpapers and Interiors"/>
  <meta property="og:type" content="website">
  <meta property="og:description" content="At Faraday Technologies ,Electrical Systems, Security Systems and Solar Systems company are well fixed."/>
  <meta property="og:image" content="https://www.faradaytechnologies.co.ke/faraday/logoo.jpg">
  <meta property="og:image:secure_url" content="https://www.faradaytechnologies.co.ke/faraday/logoo.jpg"/>

  <!-- Twitter Meta Tags -->
  <meta name="twitter:card" content="summary_large_image"/>
  <meta name="twitter:site" content="@faradaytech"/>
  <meta name="twitter:title" content="Welcome to Faraday Technologies"/>
  <meta name="twitter:description" content="Faraday Technologies offers top-notch electrical solutions across the country. Contact us for reliable and efficient electrical services."/>
  <meta name="twitter:image" content="https://www.faradaytechnologies.co.ke/faraday/logoo.jpg"/>
</head>
<body>

    <h1 style="text-align: center; font-size: 24px; font-weight: bold; text-transform: uppercase; text-decoration: underline;">Recent Works</h1>
    <section id="recent">
      <div class="bg-white">
        <div class="mx-auto max-w-2xl px-4 py-16 sm:px-6 sm:py-24 lg:max-w-7xl lg:px-8">
          <h2 class="sr-only">Products</h2>
         
      
          <div class="grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 xl:gap-x-8">
            <a href="#" class="group">
              <div class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-lg bg-gray-200 xl:aspect-h-8 xl:aspect-w-7">
                <img src="faraday/thika.jpg" alt="Tall slender porcelain bottle with natural clay textured body and cork stopper." class="h-full w-full object-cover object-center group-hover:opacity-75">
              </div>
              <h3 class="mt-4 text-sm text-gray-700">Thika, Kiambu</h3>
            </a>
            <a href="#" class="group">
                <div class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-lg bg-gray-200 xl:aspect-h-8 xl:aspect-w-7">
                  <img src="faraday/neki.jpg" alt="Tall slender porcelain bottle with natural clay textured body and cork stopper." class="h-full w-full object-cover object-center group-hover:opacity-75">
                </div>
                <h3 class="mt-4 text-sm text-gray-700">Kenol, Murang'a</h3>
              </a>
              <a href="#" class="group">
                <div class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-lg bg-gray-200 xl:aspect-h-8 xl:aspect-w-7">
                  <img src="faraday/otc.jpg" alt="Tall slender porcelain bottle with natural clay textured body and cork stopper." class="h-full w-full object-cover object-center group-hover:opacity-75">
                </div>
                <h3 class="mt-4 text-sm text-gray-700">Nairobi, OTC</h3>
              </a>
              <a href="#" class="group">
                <div class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-lg bg-gray-200 xl:aspect-h-8 xl:aspect-w-7">
                  <img src="faraday/phone care.jpg" alt="Tall slender porcelain bottle with natural clay textured body and cork stopper." class="h-full w-full object-cover object-center group-hover:opacity-75">
                </div>
                <h3 class="mt-4 text-sm text-gray-700">Ruiru</h3>
              </a>
              <a href="#" class="group">
                <div class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-lg bg-gray-200 xl:aspect-h-8 xl:aspect-w-7">
                  <img src="faraday/paris.jpg" alt="Tall slender porcelain bottle with natural clay textured body and cork stopper." class="h-full w-full object-cover object-center group-hover:opacity-75">
                </div>
           
              </a>
              <a href="#" class="group">
                <div class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-lg bg-gray-200 xl:aspect-h-8 xl:aspect-w-7">
                  <img src="faraday/munga.jpg" alt="Tall slender porcelain bottle with natural clay textured body and cork stopper." class="h-full w-full object-cover object-center group-hover:opacity-75">
                </div>
               
              </a>
              <a href="#" class="group">
                <div class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-lg bg-gray-200 xl:aspect-h-8 xl:aspect-w-7">
                  <img src="faraday/ultrabeauty.jpg" alt="Tall slender porcelain bottle with natural clay textured body and cork stopper." class="h-full w-full object-cover object-center group-hover:opacity-75">
                </div>
              
              </a>
              <a href="#" class="group">
                <div class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-lg bg-gray-200 xl:aspect-h-8 xl:aspect-w-7">
                  <img src="faraday/medverse.jpg" alt="Tall slender porcelain bottle with natural clay textured body and cork stopper." class="h-full w-full object-cover object-center group-hover:opacity-75">
                </div>
                
              </a>
              <a href="#" class="group">
                <div class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-lg bg-gray-200 xl:aspect-h-8 xl:aspect-w-7">
                  <img src="faraday/lightboxc.jpg" alt="Tall slender porcelain bottle with natural clay textured body and cork stopper." class="h-full w-full object-cover object-center group-hover:opacity-75">
                </div>
                
              </a>
              <a href="#" class="group">
                <div class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-lg bg-gray-200 xl:aspect-h-8 xl:aspect-w-7">
                  <img src="faraday/slide banner.jpg" alt="Tall slender porcelain bottle with natural clay textured body and cork stopper." class="h-full w-full object-cover object-center group-hover:opacity-75">
                </div>
             
              </a>
              <a href="#" class="group">
                <div class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-lg bg-gray-200 xl:aspect-h-8 xl:aspect-w-7">
                  <img src="faraday/mkopa.jpg" alt="Tall slender porcelain bottle with natural clay textured body and cork stopper." class="h-full w-full object-cover object-center group-hover:opacity-75">
                </div>
              
              </a>
              <a href="#" class="group">
                <div class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-lg bg-gray-200 xl:aspect-h-8 xl:aspect-w-7">
                  <img src="faraday/liquor signs.jpg" alt="Tall slender porcelain bottle with natural clay textured body and cork stopper." class="h-full w-full object-cover object-center group-hover:opacity-75">
                </div>
              </a>
              <a href="#" class="group">
                <div class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-lg bg-gray-200 xl:aspect-h-8 xl:aspect-w-7">
                  <video controls class="h-full w-full object-cover object-center group-hover:opacity-75">
                    <source src="faraday/vid1.mp4" type="video/mp4">
                    Your browser does not support the video tag.
                  </video>
                </div>
              </a>
              <a href="#" class="group">
                <div class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-lg bg-gray-200 xl:aspect-h-8 xl:aspect-w-7">
                  <video controls class="h-full w-full object-cover object-center group-hover:opacity-75">
                    <source src="faraday/vid3.mp4" type="video/mp4">
                    Your browser does not support the video tag.
                  </video>
                </div>
              </a>
              <a href="#" class="group">
                <div class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-lg bg-gray-200 xl:aspect-h-8 xl:aspect-w-7">
                  <video controls class="h-full w-full object-cover object-center group-hover:opacity-75">
                    <source src="faraday/vid4.mp4" type="video/mp4">
                    Your browser does not support the video tag.
                  </video>
                </div>
              </a>
              <a href="#" class="group">
                <div class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-lg bg-gray-200 xl:aspect-h-8 xl:aspect-w-7">
                  <video controls class="h-full w-full object-cover object-center group-hover:opacity-75">
                    <source src="faraday/vid6.mp4" type="video/mp4">
                    Your browser does not support the video tag.
                  </video>
                </div>
              </a>
              <a href="#" class="group">
                <div class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-lg bg-gray-200 xl:aspect-h-8 xl:aspect-w-7">
                  <video controls class="h-full w-full object-cover object-center group-hover:opacity-75">
                    <source src="faraday/siayavid7.mp4" type="video/mp4">
                    Your browser does not support the video tag.
                  </video>
                </div>
              </a>
              <a href="#" class="group">
                <div class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-lg bg-gray-200 xl:aspect-h-8 xl:aspect-w-7">
                  <video controls class="h-full w-full object-cover object-center group-hover:opacity-75">
                    <source src="faraday/siayavid.mp4" type="video/mp4">
                    Your browser does not support the video tag.
                  </video>
                </div>
                <h3 class="mt-4 text-sm text-gray-700">Siaya, western</h3>
              </a>
              <a href="#" class="group">
                <div class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-lg bg-gray-200 xl:aspect-h-8 xl:aspect-w-7">
                  <video controls class="h-full w-full object-cover object-center group-hover:opacity-75">
                    <source src="faraday/bricksvid.mp4" type="video/mp4">
                    Your browser does not support the video tag.
                  </video>
                </div>
                <h3 class="mt-4 text-sm text-gray-700">Siaya, western</h3>
              </a>
              
          </div>
        </div>
      </div>
          </section>

</body>
</html>